USE [master]
GO
/****** Object:  Database [KinoteatrASP]    Script Date: 4/30/2018 1:46:45 PM ******/
CREATE DATABASE [KinoteatrASP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KinoteatrASP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.TOTOSERVER\MSSQL\DATA\KinoteatrASP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KinoteatrASP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.TOTOSERVER\MSSQL\DATA\KinoteatrASP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KinoteatrASP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KinoteatrASP]
GO
USE [KinoteatrASP]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 4/30/2018 1:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FillmGenre]    Script Date: 4/30/2018 1:46:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FillmGenre](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GenreId] [int] NOT NULL,
	[FilmId] [int] NOT NULL,
 CONSTRAINT [PK_FillmGenre] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmCountry]    Script Date: 4/30/2018 1:46:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmCountry](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FilmId] [int] NOT NULL,
	[CountryId] [int] NOT NULL,
 CONSTRAINT [PK_FilmCountry] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Films]    Script Date: 4/30/2018 1:46:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Films](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[YayimTarixi] [date] NULL,
	[Duration] [int] NULL,
	[Video] [nvarchar](50) NULL,
 CONSTRAINT [PK_Films] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 4/30/2018 1:46:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FillmGenre]  WITH CHECK ADD  CONSTRAINT [FK_FillmGenre_FillmGenre] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genres] ([Id])
GO
ALTER TABLE [dbo].[FillmGenre] CHECK CONSTRAINT [FK_FillmGenre_FillmGenre]
GO
ALTER TABLE [dbo].[FillmGenre]  WITH CHECK ADD  CONSTRAINT [FK_FillmGenre_Films] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Films] ([Id])
GO
ALTER TABLE [dbo].[FillmGenre] CHECK CONSTRAINT [FK_FillmGenre_Films]
GO
ALTER TABLE [dbo].[FilmCountry]  WITH CHECK ADD  CONSTRAINT [FK_FilmCountry_Films] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[FilmCountry] CHECK CONSTRAINT [FK_FilmCountry_Films]
GO
ALTER TABLE [dbo].[FilmCountry]  WITH CHECK ADD  CONSTRAINT [FK_FilmCountry_Films1] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Films] ([Id])
GO
ALTER TABLE [dbo].[FilmCountry] CHECK CONSTRAINT [FK_FilmCountry_Films1]
GO
USE [master]
GO
